.contribute-section {
    padding: 46px 0;
    background: var(--Linear, linear-gradient(91deg, #DD6080 4.08%, #F7A55C 106.84%));

    .font-podka {font-size: 32px; color: var(--white); font-weight: 400; margin: 0 0 60px;}

    p {color: #fff; font-size: 16px; margin: 0 0 30px;}

    .grid-row {
        display: grid; grid-template-columns: 1fr 374px; grid-gap: 140px;
    }

    .image-holder {
        position: relative;
        padding: 10px 10px 0 10px;
        border-radius: 30px;
        border: 4px solid #FFF;
        background: linear-gradient(180deg, #A4D470 0%, #10AEBA 100%);
        overflow: hidden;

        &::after {content: ''; display: inline-block; padding-top: 140%;}

        img {position: absolute; left: 50%; transform: translateX(-40%); bottom: 0; width: 100%; margin: auto; height: 80%; object-fit: cover;}
    }

    @media screen and (max-width: 1280px) {
        .grid-row {grid-gap: 60px;}

        .font-podka {font-size: 24px;}

        p {font-size: 15px; margin: 0 0 20px;}
    }

    @media screen and (max-width: 812px) {
        .font-podka {font-size: 20px; margin: 0 0 20px;}

        .grid-row {grid-template-columns: auto; grid-gap: 20px; margin-bottom: 30px;}

        .image-holder {max-width: 60%; margin: auto;}
    }

    @media screen and (max-width: 676px) {
        p {font-size: 14px;}

        .image-holder {max-width: 90%; margin: auto;}
    }
}