.personal-detail-page {
    padding: 40px 0; background-color: #FCFCFC;

    .row * {font-size: 13px !important;}
    
    .container-sm {max-width: 800px;}

    .page-title {font-size: 24px; font-style: normal; font-weight: 600; line-height: 24px; letter-spacing: 0.2;}

    hr {background: #D7D7D7 !important; opacity: 1;}

    .form-check {
        label {color: #637381; font-size: 13px; font-weight: 400;}
    }

    textarea.form-control-custom {
        min-height: 150px;resize: none;
    }

    .sign-up-link {display: none;}

    .membership-option {background: transparent;}

    @media screen and (max-width: 767px) {
        .w-50 {width: 100% !important;}
    }
}